* {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-style: oblique;
  text-transform: capitalize;
  font-weight: 600;
}
body {
  width: 200vh;

  height: 150vh;
  background: linear-gradient(to right bottom, #872341, #22092cfb);
}
h2{
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 1.5em;
}
#all {
  display: flex;
}
form,
#make-account {
  width: 320px;
}
input {
  background-color: #be31447c;
  height: 45px;
  width: 300px;
  margin: 15px;
  border: none;
  text-align: center;
}
input,
label {
  font-size: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
}
input {
  margin: 0px;
}
label {
  margin-top: 12px;
}

#aa {
  margin-top: 25px;
  justify-content: center;
}

.account-demo {
  margin: 25px;
  background-color: white;
  border-radius: 15px;
}
.account-demo > p,
.account-demo > label,
.account-demo > input {
  width: 320px;
  color: black;
  text-align: center;

  margin: 15px 00px;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border: none;
  color: #22092c;
  background-color: #f05941;
  width: 150px;
  height: 35px;
  margin-bottom: 5px;
}
.account-demo2 {
  color: black;
  background-color: white;
  width: 200px;
}
h2{
  margin-top: 5px;
  margin-bottom: 10px;
}
td,
th,
table {
  font-weight: 400;
  border: 5px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-collapse: collapse;
  width: 800px;
}
td,th{
  align-items: center;
  justify-content: center;
text-align: center;
}
